@mixin paddingSec {
padding: 30px 0 30px;    
}

//768px gacha 
@media screen and (max-width: 768px) {
    .modal{
        width: 80%;
         .modal-body{
            .searchSec{
                form{
                    position: relative;
                    .searchInput{
                        width: 280px;
                        padding: 8px;
                        border-radius: 5px;
                        border: 1px solid #808080;
        &:focus{
            outline: none;
            box-shadow: none;
        }
        
                    }
                    .searchBtn{
                        position: absolute;
                        margin-left: 15px;
                        top: 10%;
                        background-color: transparent !important;
                        border: none;
                    }
        
                }
            }
        }
    }
            
            .navigation{
                padding: 0 20px;
                border-bottom: 1px solid gray;
                .searchSec{
                    display: none;
                }
                .icons{
                    display: none;
                }
                .responsivemodal{
                    .btn{
                        background-color: transparent !important;
                        border: none;
                        svg{
                            color: #000;
                        }
                    }
                }
            }
            
            .categories{
                display: inline;
                padding: 0;
        
                #responsiveIcon{
                    display: block;
                    .icons{
                        text-align: center;
                        a{
                            margin: 0 10px 0 0;
                            color: #000;
                        }
                    }
                }
                .links{
                    display: flex;
                    padding: 10px 0;
                    flex-wrap: wrap;
                }
                .btn-group{
                    display: flex;
                    margin: 15px 15px 0;
                    .dropdown-toggle{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        &::after{
                            margin-left: 10px;
                        }
                    }
                    .dropdown-menu.show{
                        width: 100%;
                    }
                }
        
            }
        
            .home{
                height: 23rem;
                background-position: center;
                .main{
                    display: flex;
                    .side1{
                        margin: 10px;
                        padding: 60px 10px;
                        h3{
                            font-size: 25px;
                        }
                        p{
                            font-size: 16px;
                        }
                        .buttons{
                            
                            .button{
                                padding: 10px 10px;
                                font-size: 14px;
                            }
                            .button1{
                                padding: 10px 10px;
                                font-size: 14px;
                            }
                        }
                    }
                    .side2{
                            img{
                                width: 416px;
                            }
                        
                    }
                     
                }
            }
        
            .smartwatch{
                @include paddingSec();
                .titles{
                    p{
                        margin-top: 20px;
                        font-size: 15px;
                    }
                    h4{
                        font-size: 23px;
                    }
                }
                .cards{
                    .prodactCard{
                        text-align: center;
                        img{
                            width: 100%;
                        }
                        .price{
        transform: translate(50px, 0);
                        }
                    }
                }
                .buttonArea{
                    .exploreBtn{
                        padding: 7px 12px;
                    }
                }
            }
        
            .ads{
                background-position: center;
                height: 180px;
                .contents{
                    display: flex;
                    padding: 40px;
                    text-align: center;
                    justify-content: space-between;
                    align-items: center;
                   
                    .aboutText{
                        font-size: 24px;
                    }
                    .shopping{
                        text-align: center;
                        .shopLink{
                            margin: 0;
                            padding: 10px 20px;
                        }
                    }
                }
            }
        
            .newcollec{
                @include paddingSec();
                .container{
                    .row{
                        .mainTitle{
                            p{
                                font-size: 16px;
                            }
                        }
                        .cardsArea{
                    .row{
                        .cards{
                            .card{
                                margin: 20px !important;
                                text-align: center;
                                .card-body{
                                    img{
                                        width: 70% !important;
                                    }
                                }
                            }
                        }
                        
                    }
                             }
                        .cardsArea2{
                            .card{
                                 margin: 30px;
                                 .card-body{
                                     img{
                                         width: 80%;
                                     }
                                 }
                                }
                    
                             }
                             .buttonArea{
                                 .exploreBtn{
                                     padding: 10px 15px;
                                        }
                                     }
                                 }
                             }
               
                    }
        
            .trending{
                @include paddingSec();
                .pageTitles{
                    padding: 10px 0 20px;
        
                }
                .container{
                    .row{
                        .col-md-4{
                            .card{
                                margin: 10px;
                                .card-header{
                                    img{
                                        width: 100%;
                                    }
                                }
                                .card-body{
                                    .infoTitle{
                                        .name{
                                            font-size: 14px;
                                        }
                                        .price{
                                            font-size: 15px;
                                        }
                                    }
                                }
                               
                            }
                        }
                    }
                }
        
            }
        
            .footer{
                @include paddingSec();
                .col-md-6{
                    .brend{
                        .brendText{
                            margin-left: 10px;
                            width: 90%;
                            text-align: justify;
                        }
                    }
                }
               .footerlinks{
                   display: block;
                   margin: 10px 10px;
                   padding: 10px 0;
                   .prodacts{
                       margin: 25px 0;  
                        .sempleText{
                             width: 100%;
                        }
                     
                    }
               }
            }
        }


//376px gacha 
@media screen and (max-width: 376px) {
.modal{
    width: 80%;
     .modal-body{
        .searchSec{
            form{
                position: relative;
                .searchInput{
                    width: 280px;
                    padding: 8px;
                    border-radius: 5px;
                    border: 1px solid #808080;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    
                }
                .searchBtn{
                    position: absolute;
                    margin-left: 15px;
                    top: 10%;
                    background-color: transparent !important;
                    border: none;
                }
    
            }
        }
    }
}
        
        .navigation{
            padding: 0 20px;
            border-bottom: 1px solid gray;
            .searchSec{
                display: none;
            }
            .icons{
                display: none;
            }
            .responsivemodal{
                .btn{
                    background-color: transparent !important;
                    border: none;
                    svg{
                        color: #000;
                    }
                }
            }
        }
        
        .categories{
            display: inline;
            padding: 0;
    
            #responsiveIcon{
                display: block;
                .icons{
                    text-align: center;
                    a{
                        margin: 0 10px 0 0;
                        color: #000;
                    }
                }
            }
            .links{
                display: flex;
                padding: 10px 0;
                flex-wrap: wrap;
            }
            .btn-group{
                display: flex;
                margin: 15px 15px 0;
                .dropdown-toggle{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    &::after{
                        margin-left: 10px;
                    }
                }
                .dropdown-menu.show{
                    width: 100%;
                }
            }
    
        }
    
        .home{
            height: 21rem;
            background-position: center;
            .main{
                display: inline;
                .side1{
                    margin: 0;
                    padding: 60px 10px;
                    h3{
                        font-size: 30px;
                    }
                    p{
                        font-size: 16px;
                    }
                    .buttons{
                        text-align: center;
                        .button{
                            padding: 10px 10px;
                            font-size: 16px;
                        }
                        .button1{
                            padding: 10px 10px;
                            font-size: 16px;
                        }
                    }
                }
                .side2{
                        display: none;
                    
                }
                 
            }
        }
    
        .smartwatch{
            @include paddingSec();
            .titles{
                p{
                    margin-top: 20px;
                    font-size: 16px;
                }
                h4{
                    font-size: 25px;
                }
            }
            .cards{
                display: inline-block;
                .prodactCard{
                    padding: 10px 80px;
                    text-align: center;
                    img{
                        width: 95%;
                    }
                    .price{
    transform: translate(75px, 0);
                    }
                }
            }
            .buttonArea{
                .exploreBtn{
                    padding: 10px 15px;
                }
            }
        }
    
        .ads{
            background-position: center;
            height: 200px;
            .contents{
                display: inline-block;
                padding: 30px;
                text-align: center;
                .aboutText{
                    font-size: 22px;
                    width:100%;
                    margin-bottom: 20px;
                }
                .shopping{
                    text-align: center;
                    .shopLink{
                        margin: 0;
                        padding: 10px 20px;
                    }
                }
            }
        }
    
        .newcollec{
            @include paddingSec();
            .container{
                .row{
                    .cardsArea{
                .row{
                    .cards{
                        .card{
                            margin: 25px !important;
                            text-align: center;
                            .card-body{
                                img{
                                    width: 80% !important;
                                }
                            }
                        }
                    }
                    
                }
                         }
                    .cardsArea2{
                        .card{
                             margin: 20px;
                            }
                
                         }
                         .buttonArea{
                             .exploreBtn{
                                 padding: 10px 15px;
                                    }
                                 }
                             }
                         }
           
                }
    
        .trending{
            @include paddingSec();
            .pageTitles{
                padding: 10px 0 20px;
    
            }
            .container{
                .row{
                    .col-md-3{
                        .card{
                            margin: 25px;
                            .card-header{
                                img{
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
    
        }
    
        .footer{
            @include paddingSec();
            .col-md-6{
                .brend{
                    .brendText{
                        margin-left: 10px;
                        width: 90%;
                        text-align: justify;
                    }
                }
            }
           .footerlinks{
               display: block;
               margin: 10px 10px;
               padding: 10px 0;
               .prodacts{
                   margin: 25px 0;  
                    .sempleText{
                         width: 100%;
                    }
                 
                }
           }
        }
    }

//370px gacha 
@media screen and (max-width: 370px) {

    .modal{
        width: 80%;
        .modal-body{
        .searchSec{
            form{
                position: relative;
                .searchInput{
                    width: 260px;
                    padding: 5px;
                    border-radius: 5px;
                    border: 1px solid #808080;
    &:focus{
        outline: none;
        box-shadow: none;
    }
    
                }
                .searchBtn{
                    position: absolute;
                    margin-left: 10px;
                    top: 10%;
                    background-color: transparent !important;
                    border: none;
                }
    
            }
        }
    } 
    }
   
        
        .navigation{
            padding: 0 20px;
            border-bottom: 1px solid gray;
            .searchSec{
                display: none;
            }
            .icons{
                display: none;
            }
            .responsivemodal{
                .btn{
                    background-color: transparent !important;
                    border: none;
                    svg{
                        color: #000;
                    }
                }
            }
        }
        
        .categories{
            display: inline;
            padding: 0;
    
            #responsiveIcon{
                display: block;
                .icons{
                    text-align: center;
                    a{
                        margin: 0 10px 0 0;
                        color: #000;
                    }
                }
            }
            .links{
                display: flex;
                padding: 10px 0;
                flex-wrap: wrap;
            }
            .btn-group{
                display: flex;
                margin: 15px 15px 0;
                .dropdown-toggle{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    &::after{
                        margin-left: 10px;
                    }
                }
                .dropdown-menu.show{
                    width: 100%;
                }
            }
    
        }
    
        .home{
            height: 20rem;
            background-position: center;
            .main{
                display: inline;
                .side1{
                    margin: 0;
                    padding: 60px 10px;
                    h3{
                        font-size: 24px;
                    }
                    p{
                        font-size: 14px;
                    }
                    .buttons{
                        text-align: center;
                        .button{
                            padding: 7px 7px;
                            font-size: 16px;
                        }
                        .button1{
                            padding: 7px 7px;
                            font-size: 16px;
                        }
                    }
                }
                .side2{
                        display: none;
                    
                }
                 
            }
        }
    
        .smartwatch{
            @include paddingSec();
            .titles{
                p{
                    font-size: 15px;
                }
                h4{
                    font-size: 20px;
                }
            }
            .cards{
                display: inline-block;
                .prodactCard{
                    padding: 10px 50px;
                    text-align: center;
                    img{
                        width: 85%;
                    }
                    .price{
    transform: translate(100px, 0);
                    }
                }
            }
            .buttonArea{
                .exploreBtn{
                    padding: 10px 15px;
                }
            }
        }
    
        .ads{
            background-position: center;
            height: 200px;
            .contents{
                display: inline-block;
                padding: 30px;
                text-align: center;
                .aboutText{
                    font-size: 22px;
                    width:100%;
                    margin-bottom: 20px;
                }
                .shopping{
                    text-align: center;
                    .shopLink{
                        margin: 0;
                        padding: 10px 20px;
                    }
                }
            }
        }
    
        .newcollec{
            @include paddingSec();
            .container{
                .row{
                    .cardsArea{
                .row{
                    .cards{
                        .card{
                            margin: 10px !important;
                            text-align: center;
                            .card-body{
                                img{
                                    width: 85% !important;
                                }
                            }
                        }
                    }
                    
                }
                         }
                    .cardsArea2{
                        .card{
                             margin: 12px;
                            }
                
                         }
                         .buttonArea{
                             .exploreBtn{
                                 padding: 10px 15px;
                                    }
                                 }
                             }
                         }
           
                }
    
        .trending{
            @include paddingSec();
            .pageTitles{
                padding: 10px 0 20px;
    
            }
            .container{
                .row{
                    .col-md-3{
                        .card{
                            margin: 10px;
                            .card-header{
                                img{
                                    width: 85%;
                                }
                            }
                        }
                    }
                }
            }
    
        }
    
        .footer{
            @include paddingSec();
            .col-md-6{
                .brend{
                    .brendText{
                        width: 100%;
                        text-align: justify;
                    }
                }
            }
           .col-md-4{
               display: block;
               .prodacts{
                 padding-bottom: 10px;
                  
    .sempleText{
        width: 100%;
    }
               }
           }
        }
    }

//330px gacha 
@media screen and (max-width: 330px) {
body{
    overflow-x: hidden;
    align-items: center;
}

.modal{
.modal-body{
    .searchSec{
        form{
            position: relative;
            .searchInput{
                width: 230px;
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #808080;
&:focus{
    outline: none;
    box-shadow: none;
}

            }
            .searchBtn{
                position: absolute;
                margin-left: 10px;
                top: 10%;
                background-color: transparent !important;
                border: none;
            }

        }
    }
}

}

    
    .navigation{
        padding: 0 20px;
        border-bottom: 1px solid gray;
        .searchSec{
            display: none;
        }
        .icons{
            display: none;
        }
        .responsivemodal{
            .btn{
                background-color: transparent !important;
                border: none;
                svg{
                    color: #000;
                }
            }
        }
    }

.categories .btn-group .dropdown-menu #responsiveIcon .icons{
    display: none;
}
    .categories{
        display: inline;
        padding: 0;

        #responsiveIcon{
            display: block;
            .icons{
                display: block;
                text-align: center;
                a{
                    margin: 0 10px 0 0;
                    color: #000;
                }
            }
        }
        .links{
            display: flex;
            padding: 10px 0;
            flex-wrap: wrap;
        }
        .btn-group{
            display: flex;
            margin: 15px 15px 0;
            .dropdown-toggle{
                display: flex;
                justify-content: center;
                &::after{
                    margin-left: 10px;
                }
            }
           
        }

    }

    .home{
        height: 20rem;
        background-position: center;
        .main{
            display: inline;
            .side1{
                margin: 0;
                padding: 60px 10px;
                h3{
                    font-size: 24px;
                }
                p{
                    font-size: 14px;
                }
                .buttons{
                    .button{
                        padding: 7px 7px;
                        font-size: 14px;
                    }
                    .button1{
                        padding: 7px 7px;
                        font-size: 14px;
                    }
                }
            }
            .side2{
                    display: none;
                
            }
             
        }
    }

    .smartwatch{
        @include paddingSec();
        .titles{
            p{
                font-size: 15px;
            }
            h4{
                font-size: 20px;
            }
        }
        .cards{
            display: inline-block;
            .prodactCard{
                padding: 10px 50px;
                text-align: center;
                img{
                    width: 85%;
                }
                .price{
transform: translate(80px, 0);
                }
            }
        }
        .buttonArea{
            .exploreBtn{
                padding: 10px 15px;
            }
        }
    }

    .ads{
        background-position: center;
        height: 200px;
        .contents{
            display: inline-block;
            padding: 30px;
            text-align: center;
            .aboutText{
                font-size: 22px;
                width:100%;
                margin-bottom: 20px;
            }
            .shopping{
                text-align: center;
                .shopLink{
                    margin: 0;
                    padding: 10px 20px;
                }
            }
        }
    }

    .newcollec{
        @include paddingSec();
        .container{
            .row{
                .cardsArea{
            .row{
                .cards{
                    .card{
                        margin: 10px !important;
                        text-align: center;
                        .card-body{
                            img{
                                width: 90% !important;
                            }
                        }
                    }
                }
                
            }
                     }
                .cardsArea2{
                    .card{
                         margin: 12px;
                        }
            
                     }
                     .buttonArea{
                         .exploreBtn{
                             padding: 10px 15px;
                                }
                             }
                         }
                     }
       
            }

    .trending{
        @include paddingSec();
        .pageTitles{
            padding: 10px 0 20px;

        }
        .container{
            .row{
                .col-md-3{
                    .card{
                        margin: 10px;
                        .card-header{
                            img{
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }

    }

    .footer{
        @include paddingSec();
        .col-md-6{
            .brend{
                .brendText{
                    width: 100%;
                    text-align: justify;
                }
            }
        }
       .col-md-4{
           display: block;
           .prodacts{
              
.sempleText{
    width: 100%;
}
           }
       }
    }
}